@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #734D6D;
}

body {
    font-family: 'Raleway', Georgia;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 500px;
    max-height: 700px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #55355c8c 10%, #9494948c 100%), url('../images/wedding_03.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 99% 0, 100% 85%, 50% 100%, 0 85%);
    z-index: -1;
}


/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}


/* Hero container */

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 50px;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
    font-family: Merriweather;
}

.hero__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: #734D6D;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}
.cta__block{
    display: inline-block;
    background-color: #c093b9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}
/* Body */
body{
    margin: 0;
    padding: 0;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: rgb(255 255 255 / 50%);
    background-image: url(../images/flowers_vertical_01.jpg);
    /* background-size: 0 0 20px 20px; */
}

/* invitation */

.invitation {
    text-align: center;
}
.rules{
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
    align-items: center;
}
.text{
    line-height: 0.1;
}
.invitation__paragraph {
    line-height: -1;
    text-align: center;
}
/* Message */
.message{
    text-align: center;
}
.message__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}


.message__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.message__icon {
    width: 40px;
}

/* Testimony */

.testimony{
    background-color: #ffdefa;
    opacity: 0.8;
    background-image:  radial-gradient(#734D6d 0.5px, transparent 0.5px), radial-gradient(#734D6d 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: #734D6D;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}

/* normas */

.normas{
    text-align: center;
}

/* Footer */

.footer{
    background-color: #734d6d;
}

.footer__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: #fff;
}


.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px ;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 30px;
}
/* Página Blog */
.post{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.post__subtitle{
    text-align: center;
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}
.post__paragraph{
    text-align: justify;
    width: 90%;
    max-width: 1200px;
}
.separator{
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    border-top: 1px solid #734D6D;
    width: 90%;
    max-width: 1200px;
}
/* Página History*/
.history{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
    align-items: center;
    text-align: center;
}
.mosaico{
    display: grid;
    gap: 2em;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.container__img{
    width: 250px;
    height: 330px;
    border-radius: 50%;
    object-fit: cover;
    object-position: -1 -1;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    gap: 3em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.container__img img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.container__img:hover img{
    transform: scale(1.1);
}
/* Animaciones */
.seccion{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.seccion.mostrar{
    opacity: 1;
    transform: translateY(0);
}
@keyframes animar-desde-la-izquierda{
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes animar-desde-la-derecha{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.animar-izquierda{
    animation: animar-desde-la-izquierda 0.5s ease-out;
}
.animar-derecha{
    animation: animar-desde-la-derecha 0.5s ease-out;
}
/* Media queries */

@media (max-width:800px){
    .nav__menu{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: #aa60a4;
    }

    .nav__link--menu{
        position: fixed;
        background-color: #aa60a4;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title{
        font-size: 2.5rem;
    }


    .message__main{
        gap: 2em;
    }
    body{
        margin: 0;
        padding: 0;
        background-size: auto;
        background-repeat: no-repeat;
        background-color: rgb(255 255 255 / 50%);
    }
    .message__icons:last-of-type{
        grid-column: 1/-1;
    }


    .invitation__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .invitation__picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .testimony__img{
        width: 200px;
        height: 200px;
        
    }

    .questions__copy{
        width: 100%;
    }
    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1;
    }

}

@media (max-width:600px){
    .hero__title{
        font-size: 2rem;
    }

    .hero__paragraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 1.8rem;
        align-items: center;
    }
    .post__subtitle{
        font-size: 1.8rem;
        align-items: center;
    }
    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow{
        width: 100%;
    }

    .testimony__course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav__link--footer{
        justify-content: space-between;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;
    }
}